<div data-test-entries>
  {{#each (sort-by sortBy (if showArchived entries (filter-by "archived" false entries))) as |entry|}}
    {{entry-card entry=entry}}
  {{else}}
    <div data-test-empty-message>{{t "entry.list.empty"}}</div>
  {{/each}}
</div>
